.exp-img {
    margin-top: 50px;
    width: 250px;
    height:250;
    border-radius: 12%;
    border: 3px solid rgb(7, 7, 7);
    transition: all .5s;
}

body {
    background: url('../images/bike.jpg') 
}

.nav {
    background-color: #e6c173;
    color: black;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
  }

.name,
.location {
    color: rgb(5, 5, 5); 
}

footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
  }
  
  footer  .copyright {
    top: -8px;
    font-size: .75em;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer  ul li {
    display: inline-block;
  }
  
 
  
  
  
  
  


